<div class="container">
  <div class="sidebar" role="nav">
    <ul>
      <li><a href="" routerLink="" routerLinkActive="activebutton">home</a></li>
      <li><a href="" routerLink="/projects" routerLinkActive="activebutton">projects</a></li>
      <li><a href="" routerLink="/about" routerLinkActive="activebutton">contact</a></li>


    </ul>

  </div>

  <div class="placeholder" role="main">
    <router-outlet></router-outlet>
    <!-- <app-portfolio></app-portfolio> -->

  </div>

  <!--<div class="projects" (click)="photoChange($event)">
  </div>
-->
</div>

<!--<app-home></app-home>-->